<h1>StackOverflow Questions</h1>

<%questions.forEach((question)=>{%>
<!-- <h2><%=question['title'] %></h2>
<p><%=question['user'] %></p>
<p><%=question['votes'] %></p> -->
<% if(question['user'].toLowerCase==='john') {%>
<h2><%= question['title']%></h2>
<p><%= question['user']%></p>
<p><%= question['votes']%></p>
<%} else {%>
<h1>Asked by the users:</h1>
<h2><%= question['title']%></h2>
<p><%= question['user']%></p>
<p><%= question['votes']%></p>
<%} %> <%}); %>
